.main2{
    margin: 24px 8px;
}
.header{
    padding: 32px;
    margin-bottom: 8px ;
    background-color: green;
}
.list{
    padding: 32px;
    margin-bottom: 8px ;
    background-color: lightgrey;
}
.tableHeader{
    color: white;
    font-size: 1.5em;
    width: 33.33%;
}
.tableText{
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    padding: 8px;
    width: 33.33%;
}
.creditInput{
    width: 70%;
    padding: 8px;
    outline: none;
    position: relative;
    background-color: lightgrey;
    border: none;
    border-radius: 5px;
}
.creditInput:hover{
    background-color: white;
    border: 2px solid black;
}
.gradeInput{
    width: 70%;
    padding: 8px;
    outline: none;
    position: relative;
    background-color: lightgrey;
    border: none;
    border-radius: 5px;
}
.gradeInput:hover{
    background-color: white;
    border: 2px solid black;
}
.table{
    width: 100%;
    border-collapse: collapse;
}
.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}
.btn{
    padding: 8px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background: rgb(0,4,40);
    background: linear-gradient(163deg, rgba(0,4,40,1) 0%, rgba(0,78,146,1) 100%);
    color: white;
}
.btn:hover{
    cursor: pointer;
    background: rgb(44,62,80);
    background: linear-gradient(163deg, rgba(44,62,80,1) 0%, rgba(76,161,175,1) 100%);
    font-weight: bold;
}
.resultContainer{
    margin: 16px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding: 16px;
}
.cardMedia{
    width: 100%;
    margin-bottom: 5px;
    background: url("https://images.unsplash.com/photo-1513151233558-d860c5398176?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    margin: 0 auto;
    margin-bottom: 16px;
    border-radius: 8px;
    background-size: cover;
    background-position: bottom center;
}
.cardText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.span{
    color: rgba(255, 72, 0, 0.938);
    text-align: center;
    font-size: 36px;
}
.result{
    color: red;
}
.text{
    font-style: italic;
}
